---
http_interactions:
- request:
    method: get
    uri: https://api.nzpost.co.nz/ParcelAddress/2.0/australian/addresses/ChIJzQ0OBq_Me6oRB5y3Rjm01Js
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsImtpZCI6IlRFU1QifQ.eyJjbGllbnRpZCI6ImJlODEzNDE5NzE4NjQ5YWI5MmQyOGNiNmY5NmYzMDhlIiwidXNlcm5hbWUiOiJyb2JlcnRAZXRhaWxlci5jby5ueiIsImV4cCI6MTQzNDA5Njc0Miwic2NvcGUiOltdLCJjbGllbnRfaWQiOiJiZTgxMzQxOTcxODY0OWFiOTJkMjhjYjZmOTZmMzA4ZSJ9.PDU-xsivU4Z-_b3_C-S9sblQk18W2JzbrrYWAQ2X7V0
      Client-Id:
      - 123
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Agw-Clientid:
      - 123
      X-Agw-Userid:
      - test@example.com
      X-Agw-Username:
      - test@example.com
      X-Mule-Encoding:
      - UTF-8
      X-Pingfederate-Clientid:
      - 123
      X-Pingfederate-Userid:
      - test@example.com
      X-Pingfederate-Username:
      - test@example.com
      X-Ratelimit-Limit:
      - '15'
      X-Ratelimit-Remaining:
      - '13'
      X-Ratelimit-Reset:
      - '0'
    body:
      encoding: UTF-8
      string: '{"success":false,"errors":[{"code":"40401","message":"Not Found","details":"The
        resource you are looking for does not exist, please consult the API documentation
        if in doubt."}],"message_id":"6c4b62f0-8177-11e6-b5d1-0229bb62caa5"}'
  recorded_at: Fri, 23 Sep 2016 10:20:59 GMT
recorded_with: VCR 2.9.3
