---
http_interactions:
- request:
    method: get
    uri: https://api.nzpost.co.nz/ParcelTrack/3.0/parcels/8144152543878001AKL002PN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - 123
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiIsImtpZCI6IlRFU1QifQ.eyJjbGllbnRpZCI6ImEwNDlhYjlkN2E2OTRlOWFiMGI4ZjMwZGUwMmU4ZDA2IiwidXNlcmlkIjoicm9iZXJ0QGV0YWlsZXIuY28ubnoiLCJ1c2VybmFtZSI6InJvYmVydEBldGFpbGVyLmNvLm56IiwiZXhwIjoxNDc1MTI3MDQxLCJzY29wZSI6W10sImNsaWVudF9pZCI6ImEwNDlhYjlkN2E2OTRlOWFiMGI4ZjMwZGUwMmU4ZDA2IiwiYWNjZXNzX2d1aWQiOiJCeVdwczVWZ3JEemxGdHJiaUQwZUk5WVhTZkpmMEhXYiJ9.fIvtoQOaKgce1sMCxOxAaXWYXR93KEfKbPcZtk2Pawk
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '15'
      X-Ratelimit-Remaining:
      - '14'
      X-Ratelimit-Reset:
      - '847'
    body:
      encoding: UTF-8
      string: '{"success":true,"results":{"tracking_reference":"8144152543878001AKL002PN","message_id":"976a0a41-d3cc-4a65-9d91-d121eba2d975","message_datetime":"2016-09-27T18:49:26.0000000Z","service":"","carrier":"","tracking_events":[{"tracking_reference":"8144152543878001AKL002PN","event_edifact_code":"997","source":"CME","seqref":"3049993165","status_description":"Ready
        to send","event_description":"A tracking label has been created but your item
        isn''t with us yet","event_datetime":"2016-09-19T11:28:36","signed_by":{"name":"","signature":""}},{"tracking_reference":"8144152543878001AKL002PN","event_edifact_code":"13","source":"CME","seqref":"3050314854","status_description":"Picked
        up","event_description":"Your item was picked up by our courier Brian based
        at Wellington-Ngaio Depot. Use <a href=''http://trackandtrace.courierpost.co.nz/notification/create/8144152543878001AKL002PN''>Notify
        Me</a> to receive further updates on its progress","event_datetime":"2016-09-19T15:26:33","signed_by":{"name":"","signature":""}},{"tracking_reference":"8144152543878001AKL002PN","event_edifact_code":"8","source":"CME","seqref":"3050776656","status_description":"Processing
        at depot","event_description":"Your item has been sorted at the CourierPost
        Auckland Operations Centre","event_datetime":"2016-09-20T03:34:12","signed_by":{"name":"","signature":""}},{"tracking_reference":"8144152543878001AKL002PN","event_edifact_code":"32","source":"CME","seqref":"3050861949","status_description":"With
        courier for delivery","event_description":"Your item is with a courier for
        delivery","event_datetime":"2016-09-20T05:32:21","signed_by":{"name":"","signature":""}}]}}'
  recorded_at: Wed, 28 Sep 2016 07:49:26 GMT
recorded_with: VCR 2.9.3
